<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-proyecto-equipo-43/blob/main/EjerciciosMods1and2_A01793468.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EJERCICIOS MÓDULO 1**

In [43]:
#Print Hello World
print("Hello World")

print("Hello\nWorld!")

Hello World
Hello
World!

In [44]:
# Check the Python Version
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [45]:
# What is the type of 12.0?
type(12.0)

float

In [46]:
#What is the data type of the result of: 6 / 2? and 6//2?
print (type(6/2))
print (type (6//2))

<class 'float'>
<class 'int'>

In [47]:
#Let's write an expression that calculates how many hours there are in 160 minutes:
160/60
160//60

2

In [48]:
#What is the value of x where x = 3 + 2 * 2
x = 3+2*2
print(x)

#What is the value of y where y = (3 + 2) * 2?
y = (3+2)*2
print(y)

#What is the value of z where z = x + y?
z = x+y
print(z)

7
10
17

In [49]:
"0123456".find('1')

1

In [50]:
name = "Michael Jackson"
print(name[0])
name[::2]
name[::1]
name[::3]
name[0:5:2]

M

'Mca'

In [51]:
# Quiz

a = "1"
b = "2"
c = a + b
print(c)

#Print first three elements
d = "ABCDEFG"
print(d[0:3])

#Use a stride value of 2 to print out every second character of the string e:
e = 'clocrkr1e1c1t'
print(e[::2])

#Print out a backslash:
print(r"\ ")

#Convert the variable f to uppercase:
f = "You are wrong"
f.upper()

# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")
g.replace("Mary", "Bob")

12
ABC
correct
\

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [52]:
'1'+'2'

'12'

# EJERCICIOS MÓDULO 2

In [54]:
#Create a tuple  (0,1,2,3)  and assign it to variable A:

A = (0,1,2,3)
print(A)

A[0:2]

(0, 1, 2, 3)

(0, 1)

In [59]:
#For the next few questions, you will need the following list:
B=["a","b","c"]
B[0:2]

B[0] = "A"
print(B)

B[1:]

['A', 'b', 'c']

['b', 'c']

In [75]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

#Find the length of the tuple, genres_tuple:
print(len(genres_tuple))

#Access the element, with respect to index 3:
genres_tuple[3]

#genres_tuple[3]
genres_tuple[3:6]

#Find the first two elements of the tuple genres_tuple:
genres_tuple[:2]

#Find the first index of "disco":
genres_tuple.index("disco")

#Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple=(-5, 1, -3)
CSort_tuple=sorted(C_tuple)
print(CSort_tuple)

8
[-5, -3, 1]

In [81]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, 'hello', [1,2,3] , True]
a_list

#Find the value stored at index 1 of a_list.
a_list[1]

#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a']
B = [2, 1, 'd']
A+B

[1, 'a', 2, 1, 'd']

In [86]:
#Convert the list ['rap','house','electronic music', 'rap'] to a set:
b_list = ['rap','house','electronic music', 'rap']
s_list = set(b_list)
s_list

#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) == sum(B)?
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("sum A:", sum(A))
print("sum B:", sum(B))

#Create a new set album_set3 that is the union of album_set1 and album_set2:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

#Find out if album_set1 is a subset of album_set3:
album_set1.issubset(album_set3)

sum A: 6
sum B: 3

True

In [94]:
#You will need the dictionary D:
D={'a':0,'b':1,'c':2}

#Find the value for the key 'a':
D["a"]

#Find the keys of the dictionary D:
D.keys()

dict_keys(['a', 'b', 'c'])

In [96]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic 

#a) In the dictionary soundtrack_dic what are the keys ?
soundtrack_dic.keys()

#b) In the dictionary soundtrack_dic what are the values ?
soundtrack_dic.values()

#a) Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.
album_sales_dict = {"The Bodyguard":50, "Back in Black":50, "Thriller":65}

#b) Use the dictionary to find the total sales of Thriller:
album_sales_dict["Thriller"]

#c) Find the names of the albums from the dictionary using the method keys():
album_sales_dict.keys()

#d) Find the values of the recording sales from the dictionary using the method values:
album_sales_dict.values()

dict_values([50, 50, 65])